/* #region common */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;;
}

button{
    color: white;
    background-color: #0260fe;
    padding: 0.3rem 0.6rem;
    border-style: none;
}

h1{
    font-size: 4rem;
    padding: 3rem 0; 
}

h2{
    font-size: 2rem;
    padding-bottom: 2rem;
}
/* #endregion common */


/* #region header */
.container-header{
    width: 1920px;
    margin: auto;
}

#site-header{
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.top-logo{
    display: flex;
    align-items: center;
}

.top-left{
    column-gap: 1.5rem;
    padding-left: 1rem;
}

.top-right{
  column-gap: 1.5rem;
  padding-right: 1rem;
}

/* #endregion header */



/* #region main */
main{
    width: 1920px;
    margin: auto;
}


/* #region jumbotron */
.jumbotron{
    background-color: #b4d0e6;
}

.intestation{
    max-width: 60%;
    margin: auto;

}


.img-jumbo{
    width: 80%;
    margin-bottom: -5rem;
}

.jumbo-img-text{
    display: flex;
}

.aside-text-jumbotron{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
}

.fa-arrow-down{
    font-size: 3.5rem;
}

/* #endregion jumbotron */

.business{
    max-width: 50%;
    margin: auto;
    padding-top: 10rem;
    height: 2000px;
}

.round-box{
    margin-left: 1rem;
    
}

.container-card{
    display: flex;
    margin-top: 3rem;
    column-gap: 2rem;

}

.single-avatar{
    padding: 0.5rem 5rem;
    border-bottom: 0.5px solid grey;
}

.card{
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    border: 0.5px solid grey;
    padding: 1rem;
    row-gap: 2rem;
}

ul{
    list-style: none;
}

.fa-user-ninja, .fa-folder, .fa-share-nodes, .fa-check, .fa-people-group, .fa-building{
    margin-right: 10px;
}

li{
    display: flex;
    margin: 0 0 1.5rem 0;
}

hr{
    max-width: 20%;
}

.fa-check{
    color: #6c99ec;
    padding-top: 0.25rem;
}

#month{
    color: white;
}


/* #endregion main */